
.side-slide-out{
    opacity: 0;
    transition: 1000ms;

    &:nth-child(odd){
        transform: translateX(-100%);
    }

    &:nth-child(even){
        transform: translateX(100%);
    }
}

.side-slide-in{
    opacity: 1;

    &:nth-child(odd){
        transform: translateX(0);
    }

    &:nth-child(even){
        transform: translateX(0);
    }
}

//

.scale-out{
    opacity: 0;
    transform: scale(0);
    transition: calc(400ms * var(--order));
}

.scale-in{
    opacity: 1;
    transform: scale(1);
}