//
.alternated-side-slide-out{
    opacity: 0;
    transition: 1000ms;

    &:nth-child(odd){
        transform: translateX(-100%);
    }

    &:nth-child(even){
        transform: translateX(100%);
    }
}

.alternated-side-slide-in{
    opacity: 1;

    &:nth-child(odd){
        transform: translateX(0);
    }

    &:nth-child(even){
        transform: translateX(0);
    }
}

//
.right-slide-out{
    opacity: 0;
    // transition: calc(var(--order) * 10 + 200ms);
    transition: calc(var(--order) * 50ms + 300ms);
    transform: translateX(100%);
}

.right-slide-in{
    opacity: 1;
    transform: translateX(0);
}

//
.scale-out{
    opacity: 0;
    transform: scale(0);
    transition: calc(400ms * var(--order));
}

.scale-in{
    opacity: 1;
    transform: scale(1);
}

