// $accent-color: rgb(233, 62, 0);
// $text-color: rgb(128, 128, 128);
// $background-color: rgb(32, 32, 32);
$accent-color: #ff3c00;
$text-color: #9f9f9f;
$background-color: #161616;

$light-accent-color: #014d8f;
$light-text-color: #1c1c1c;
$light-background-color: #e3e3e3;
