$accent-color: rgb(233, 62, 0);
$text-color: rgb(128, 128, 128);
$background-color: rgb(32, 32, 32);;

//per il cambiacolore
// :root {
//   --accent-color: #{$accent-color};
//   --text-color: #{$text-color};
//   --background-color: #{$background-color};
// }