@import 'colors';

@mixin on-off-text {
    color: $text-color;
    transition: $transition;
    text-decoration: none;

    &:hover{
        color: $accent-color;
    }
}

@mixin light-on-off-text {
    color: $light-text-color;

    &:hover{
        color: $light-accent-color;
    }
}

@mixin button {
    z-index: 2;
    padding: 6px;
    @include on-off-text;
    border-radius: 6px;
    border: 2px solid $text-color;
    background-color: $background-color;
    opacity: 0;
    text-align: center;
    width: 40%;

    &:hover{
        border-color: $accent-color;
    }
}

@mixin light-button {
    @include light-on-off-text;
    border: 2px solid $light-text-color;
    background-color: $light-background-color;

    &:hover{
        border-color: $light-accent-color;
    }
}