@import 'responsive';
@import 'variables';

$default-font: 'Orbitron', sans-serif;

:root {
  --font-family-default: #{$default-font};
  font-size: 16px;
}

$mobile-title: 0.98rem; /* Corrisponde a 14px */
$desktop-title: 1.6rem; /* Corrisponde a 24px */

$mobile-subtitle: 1.125rem; /* Corrisponde a 18px */
$desktop-subtitle: 1.25rem; /* Corrisponde a 20px */

$mobile-tertiary-title: 1.125rem; /* Corrisponde a 20px */
$desktop-tertiary-title: 1.125rem; /* Corrisponde a 20px */

$mobile-anchor: 1rem; /* Corrisponde a 16px */
$desktop-anchor: 1.125rem; /* Corrisponde a 18px */

$mobile-text: 0.875rem; /* Corrisponde a 14px */
$desktop-text: 1rem; /* Corrisponde a 16px */

@mixin responsive-title{
  font-size: $mobile-title;

  @include laptop {
      font-size: $desktop-title;
  }

  @include desktop {
      font-size: $desktop-title;
  }
}

@mixin responsive-subtitle{
  font-size: $mobile-subtitle;

  @include laptop {
      font-size: $desktop-subtitle;
  }

  @include desktop {
      font-size: $desktop-subtitle;
  }
}

@mixin responsive-tertiary-title{
  font-size: $mobile-tertiary-title;

  @include laptop {
      font-size: $desktop-tertiary-title;
  }

  @include desktop {
      font-size: $desktop-tertiary-title;
  }
}

@mixin responsive-anchor{
  font-size: $mobile-anchor;

  @include laptop {
      font-size: $desktop-anchor;
  }

  @include desktop {
      font-size: $desktop-anchor;
  }
}

@mixin responsive-text{
  font-size: $mobile-text;

  @include laptop {
      font-size: $desktop-text;
  }

  @include desktop {
      font-size: $desktop-text;
  }
}

//regole generiche dei testi

h2,
h3 {
  color: $text-color;
  font-weight: normal;
  @include responsive-subtitle;
}

p,
li {
  letter-spacing: .14em;
  color: $text-color;
  @include responsive-text
}

li{
  letter-spacing: 0.12em;
}

a {
  color: $text-color;
  @include responsive-anchor;
  text-decoration: none;
  transition: $transition;
}