@import '../../../styles.scss';

.separator {
    background-color: $accent-color;
    width: 100%;
    height: 3px;
    @include separator-animation-mobile;
    
    @include laptopAndDesktop {
        width: 3px;
        height: 100%;
        @include separator-animation-desktop;
    }
    
    &.light-theme {
        background-color: $light-accent-color;
    }
}