<footer [class.light-theme]="isLightTheme">
    <nav *ngIf="linksMap[currentPage]">
        <ng-template ngFor let-link [ngForOf]="linksMap[currentPage]">
            <a *ngIf="link === linksMap[currentPage][0]" class="mobile-buttons" [routerLink]="link.url"><fa-icon [icon]="faChevronLeft"></fa-icon></a>
        </ng-template>    
        <ng-template ngFor let-link [ngForOf]="linksMap[currentPage]">
            <a *ngIf="link === linksMap[currentPage][1]" class="mobile-buttons" [routerLink]="link.url"><fa-icon [icon]="faHouse"></fa-icon></a>
        </ng-template>      
        <ng-template ngFor let-link [ngForOf]="linksMap[currentPage]">
            <a *ngIf="link === linksMap[currentPage][2]" class="mobile-buttons" [routerLink]="link.url"><fa-icon [icon]="faChevronRight"></fa-icon></a>
        </ng-template>        
        <!-- <a class="mobile-buttons" *ngFor="let link of linksMap[currentPage]" [routerLink]="link.url"></a> -->
      <a class="desktop-buttons" *ngFor="let link of linksMap[currentPage]" [routerLink]="link.url">{{ link.label | translate }}</a>
    </nav>
</footer>
