@import '../../../styles.scss';

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: $background-color;
    border-top: 3px solid $accent-color;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $footer-height;
    z-index: 10;

    a {
        @include button;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;

        &:first-child:before {
            content: '<';
            font-style: 20px;
            display: block;
        }
        
        &:nth-child(3):after {
            content: '>';
            font-style: 30px;
            display: block;
        }
    }
}