<footer [class.light-theme]="isLightTheme">
    <nav *ngIf="linksMap[currentPage]">
      <ng-container *ngIf="translate.currentLang === 'it'">
        <ng-container *ngFor="let link of linksMap[currentPage]">
            <a [routerLink]="link.url">
                <fa-icon class="mobile-buttons" [icon]="link.icon"></fa-icon>
                <span class="desktop-buttons">{{ link.label | translate }}</span>
            </a>
          </ng-container>
      </ng-container>
      <ng-container *ngIf="translate.currentLang === 'en'">
        <ng-container *ngFor="let link of linksMap[currentPage]">
            <a [href]="link.url">
                <fa-icon class="mobile-buttons" [icon]="link.icon"></fa-icon>
                <span class="desktop-buttons">{{ link.label | translate }}</span>
            </a>
          </ng-container>
      </ng-container>
    </nav>
</footer>