@import '../../../styles.scss';

header{
    position: fixed;
    height: 50px;
    width: 100vw;
    margin-top: -50px;
    background-color: $background-color;
    color: $text-color;

    p{
        @include on-off-text;
    }
}