@import '../../../styles.scss';

header{
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100vw;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 3px solid $accent-color;

    a{
        @include on-off-text;
        font-size: 24px
    }

    p{
        @include on-off-text;
    }

    ul {
        display: flex;
        list-style: none;
    
        li {
          margin-left: 30px;
          cursor: pointer;
          @include on-off-text;
    
          &.active {
            color: $accent-color;
          }
        }
      }
}