<header [class.light-theme]="isLightTheme">
    <h1><a href="/home">ALESSANDRO FRATERNALI</a></h1>
    <fa-icon (click)="toggleTheme()" class="theme-icon sun-icon" [icon]="faSun"></fa-icon>
    <fa-icon (click)="toggleTheme()" class="theme-icon moon-icon" [icon]="faMoon"></fa-icon>
    <ul>
        <li (click)="switchLanguage('it')" [class.active]="activeLanguage === 'it'">ITA</li>
        |
        <li (click)="switchLanguage('en')" [class.active]="activeLanguage === 'en'">ENG</li>
    </ul>
</header>
