@import '../../../styles.scss';

header{
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100vw;
    border-bottom: 3px solid $accent-color;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 10;

    h1{
      a{
        color: $accent-color;
        color: green;
        text-decoration: none;
        @include responsive-title;

        @media (max-width: 374px){
          display: block;
          height: 20px;
        }

        @include smartphone{
          display: block;
          height: 20px;
        }
      }
    }

    ul {
        display: flex;
        list-style: none;
        gap: 6px;
    
        li {
          cursor: pointer;
          @include on-off-text;
    
          &.active {
            color: $accent-color;
          }
        }
      }
}

.light-theme{
  h1{
    a{
      color: $light-accent-color;
    }
  }
  ul{
    li{
      color: $light-text-color;
      @include light-on-off-text;

      &.active {
        color: $light-accent-color;
      }
    }
  }
}