<app-header></app-header>
<div class="page-container" [class.light-theme]="isLightTheme">
    <div class="inner-page">
        <h2>{{ 'certificates.intro' | translate }}</h2>
        <!-- meta description -->
        <meta name="description" content="{{ 'certificates.intro' | translate }}">
        <div class="certificate-cards-container">
            <app-certificate-card *ngFor="let certificateCard of CertificateList; let i = index" [certificateCard]="certificateCard" [style.--order]="i + 1"></app-certificate-card>
        </div>
    </div>
    <app-footer></app-footer>
</div>