@import '../../../styles.scss';

.page-container{
  overflow-x: hidden;

  .inner-page{
    .certificate-cards-container{
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      padding-bottom: $standard-pagging;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
      ::ng-deep app-certificate-card{
          display: flex;
          align-items: center;
      }
    }
  }
}