<app-header></app-header>
<div class="page-container" [class.light-theme]="isLightTheme">
    <div class="inner-page">
        <h2>{{ 'about_me.intro' | translate }}</h2>
        <!-- meta description -->
        <meta name="description" content="{{ 'about_me.intro' | translate }}">
        <div class="info-container">
            <div class="introduction-container">
                <app-title-text *ngFor="let bio of aboutMe.bio; let i = index" [titleText]="bio" [style.--order]="i + 1"></app-title-text>
            </div>
            <app-separator></app-separator>
            <aside class="skills-list-container">
                <ul>
                    <li #rightSlideOut class="right-slide-out" *ngFor="let skill of SkillsList; let i = index" [style.--order]="i + 1">
                        <img [src]="skill.icon" [alt]="skill.title">
                        {{ skill.title }}
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <app-footer></app-footer>
</div>
