@import '../../../styles.scss';

.page-container{
    overflow-x: hidden;

    @include laptop{
        overflow-y: hidden;
    }
    @include desktop{
        overflow-y: hidden;
    }
    
    .inner-page{
        display: grid;
        padding: 0 30px 30px 30px;
    
        .info-container{
            display: grid;
            grid-template-rows: auto 3px auto;
            gap: 20px;
            
            @include laptop{
                height: calc(100vh - $header-height * 4);
                grid-template-rows: initial;
                grid-template-columns: 3fr 3px 1fr;
                gap: 0;
            }
            
            @include desktop{
                height: calc(100vh - $header-height * 4);
                grid-template-rows: initial;
                grid-template-columns: 3fr 3px 1fr;
                gap: 0;
            }
            
            .introduction-container{
                height: 100%;
                overflow-y: auto;
            }
    
            .introduction-container::-webkit-scrollbar {
                width: 6px;
            }
            
            .introduction-container::-webkit-scrollbar-thumb {
                background-color: $accent-color;
            }
    
            .separator{
                background-color: $accent-color;
                height: 3px;
                width: 100%;

                @include laptop{
                    height: 100%;
                    width: 3px;
                }
                @include desktop{
                    height: 100%;
                    width: 3px;
                }
            }
    
            .skills-list-container{
                height: 100%;
                display: flex;
                justify-content: center;
                padding-left: 20px;
                
                ul{
                    list-style-type: none;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    
                    @include laptop{
                        gap: 6px;
                    }
                    
                    @include desktop{
                        gap: 6px;
                    }
    
                    li{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}