<app-header></app-header>
<div class="page-container" [class.light-theme]="isLightTheme">
    <div class="inner-page">
        <h2>{{ 'details.intro' | translate }}</h2>
        <!-- meta description -->
        <meta name="description" content="{{ 'details.intro' | translate }}">
        <div class="timeline-container"  *ngIf="details?.timeline">
            <app-timeline-element
                *ngFor="let timelineElement of details.timeline; let i = index" 
                [style.--order]="i + 1"
                [timelineElement]="timelineElement"
                [i]="i"
            ></app-timeline-element>
        </div>
    </div>
    <app-footer ></app-footer>
</div>