@import '../../../styles.scss';

.page-container::-webkit-scrollbar {
    width: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .hexagons-container {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        // background-color: whit

        @include smaller-smartphone {
            width: 90%;
            gap: 20px;

            ::ng-deep {
                &:nth-child(3) {
                    margin-left: 50%;
                    margin-right: 50%;
                }
            }
        }

        @include smartphone {
            width: 90%;

            ::ng-deep {
                &:nth-child(3) {
                    margin-left: 50%;
                    margin-right: 50%;
                }
            }
        }

        @include tablet {
            width: 67%;
        }

        @include laptop {
            width: 50%;
        }

        @media (min-width: 1364px) and (max-width: 1369px){
            width: 49%;
        }

        @include desktop {
        }

        @include bigger-desktop {
            width: 45%;
        }
    }
}