<app-header></app-header>
<div class="page-container">
    <div class="inner-page">
        <h2>{{ 'contact_me.intro' | translate }}</h2>
       <div class="form-container" [formGroup]="form">
        <input formControlName="from_name" [placeholder]="'contact_me.form.your_name' | translate" type="text" class="rough-animation1">
        <input formControlName="from_email" [placeholder]="'contact_me.form.your_email' | translate" type="mail" class="rough-animation2">
        <input formControlName="subject" [placeholder]="'contact_me.form.subject' | translate" type="text" class="rough-animation3">
        <textarea formControlName="message" [placeholder]="'contact_me.form.message' | translate" rows="6" class="rough-animation4"></textarea>
        <button (click)="send()" type="submit" class="rough-animation5">{{ 'contact_me.form.button' | translate}}</button>
       </div>
    </div>
    <app-footer [links]="footerLinks"></app-footer>
</div>