<app-header></app-header>
<div class="page-container">
    <div class="inner-page">
        {{ 'contactme.intro' | translate }}
       <div class="form-container" [formGroup]="form">
        <input formControlName="from_name" [placeholder]="'contactme.form.your_name' | translate" type="text">
        <input formControlName="from_email" [placeholder]="'contactme.form.your_email' | translate" type="mail">
        <input formControlName="subject" [placeholder]="'contactme.form.subject' | translate" type="text">
        <textarea formControlName="message" [placeholder]="'contactme.form.message' | translate" rows="6"></textarea>
        <button (click)="send()" type="submit">{{ 'contactme.form.button' | translate}}</button>
       </div>
    </div>
</div>