@import '../../../styles.scss';

.title-text{
    h3{
        @include  responsive-tertiary-title;
        padding-bottom: 10px;
        color: $accent-color;
    }

    p{
        @include responsive-text;
        white-space: pre-line;
        padding-bottom: 25px;
    }
}

.light-theme{
    h3{
        color: $light-accent-color;
    }

    p{
        color: $light-text-color
    }
}