@import '../../../styles.scss';

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include slide-up;

    &:hover .project-card-img img{
        border-color: $accent-color;
    }

    &:hover .project-card-img .project-card-buttons a{
        opacity: 1;
    }

    &:hover h3{
        color: $accent-color;
    }

    @include smartphone{
        flex-direction: column-reverse;
    }

    .project-card-img{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 180px;
        width: 90%;


        img{
            transition: $transition;
            position: absolute;
            border-radius: 10px;
            border: 2px solid $text-color;
            width: 300px;
            height: 150px;
        }
        
        .project-card-buttons{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;

            @include smartphone{
                align-items: flex-end;
                height: 155%;
            }

            a{
                @include button;

                @include smartphone{
                    opacity: 1;
                }
            }
        }
    }

    h3{
        transition: $transition;
        @include responsive-tertiary-title;
        margin-top: 5px;

        @include smartphone{
            margin-bottom: -5px;
        }
    }
}

.light-theme{
    &:hover .project-card-img img{
        border-color: $light-accent-color;
    }
    &:hover h3{
        color: $light-accent-color;
    }
    .project-card-img{
        img{
            border: 2px solid $light-text-color;
        }
        
        .project-card-buttons{
            a{
                @include light-button;
            }
        }
    }
}