@import 'app/styles/animations';
@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/mixins';
@import 'app/styles/responsive';
@import 'app/styles/typography';
@import 'app/styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $default-font;
}

html {
  background-color: $background-color;
}

body {
  overflow-y: hidden;
}

.page-container::-webkit-scrollbar {
  width: 6px;
}

.page-container::-webkit-scrollbar-thumb {
  background-color: $accent-color;
}

.page-container {
  height: calc(100vh - $header-height);
  margin-top: $header-height;
  background-color: $background-color;
  overflow-x: hidden;

  .inner-page {
    background-color: $background-color;
    padding: $inner-container;
    position: relative;
    overflow-x: hidden;
    min-height: calc(100vh - $header-height - $footer-height);

    h2 {
      padding: $standard-pagging 0;
      @include responsive-subtitle;
      @include slide-right;
    }
  }
}