@import '../../../styles.scss';
.privacy-banner-container{
    height: 115px;
    width: 100vw;
    background-color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    
    @include tablet{
        height: 55px;
    }

    @include laptop{
        height: 55px;
    }

    @include desktop{
        height: 55px;
    }



    .privacy-banner-text{
        padding-right: 10px;
        
        @include laptop{
            padding-right: 100px;
        }
        
        @include desktop{
            padding-right: 100px;
        }
        
        p{
            color: $background-color;
            
        }
    }
    
    .privacy-banner-button{
        justify-self: flex-end;
        background-color: $accent-color;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 30px;
        
        p{
            color: $background-color;
            @include responsive-anchor;
        }
    }
}

.light-theme {
    background-color: $light-text-color;
    
    .privacy-banner-text{
        p{
            color: $light-background-color; 
        }
    }
    
    .privacy-banner-button{
        background-color: $light-accent-color;
        
        p{
            color: $light-background-color;
        }
    }
}