<app-header></app-header>
<div class="page-container" [class.light-theme]="isLightTheme">
    <div class="inner-page">
        <h2>{{ 'projects.intro' | translate }}</h2>
        <!-- meta description -->
        <meta name="description" content="{{ 'projects.intro' | translate }}">
        <div class="project-cards-container">
            <app-project-card *ngFor="let projectCard of ProjectList; let i = index" [projectCard]="projectCard" [style.--order]="i + 1"></app-project-card>
        </div>
    </div>
    <app-footer [links]="footerLinks"></app-footer>
</div>