@import '../../../styles.scss';

.page-container{
    overflow-x: hidden;

    .inner-page{    
        overflow-y: hidden;
        .project-cards-container{
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            padding-bottom: calc($standard-pagging * 5);
        }
    }
}


