@import '../../../styles.scss';

.page-container{
    overflow-x: hidden;

    .inner-page{    
        .project-cards-container{
            display: grid;
            gap: 30px;
            row-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

            // @include smartphone{
            //     grid-template-columns: 1fr;
            // }
            // @media (min-width: 695px) and (max-width: 767px){
            //     grid-template-columns: repeat(2, 1fr);
            // }
            // @include tablet{
            //     grid-template-columns: repeat(2, 1fr);
            // }
            // @include laptop{
            //     grid-template-columns: repeat(4, 1fr);
            // }
            // @media (min-width: 1024px) and (max-width: 1356px){
            //     grid-template-columns: repeat(4, 1fr);
            //     background-color: red;
            // }
            // @include desktop{
            //     grid-template-columns: repeat(4, 1fr);
            // }
        }
    }
}